# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules (Ignore in both frontend and backend)
youtube-frontend/node_modules/
youtube-backend/node_modules/

# Environment variables
youtube-frontend/.env
youtube-backend/.env

# Build directories
youtube-frontend/dist/
youtube-backend/dist/
youtube-frontend/dist-ssr/
youtube-backend/dist-ssr/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
