/* Chrome, Safari, Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: none;
}

/* Optional fallback for older browsers */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

/* nprogress-custom.css */
#nprogress .bar {
  background: #ff0000 !important; /* Force YouTube red */
  height: 2px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000 !important;
}

